body {
    background-color: #e6e6fa;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

.container {
    background-color: #f1f1f1;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-links {
    text-align: center;
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-bottom: 20px;
}

.page-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-links li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
}

.page-links a {
    text-decoration: none;
    color: #333;
}

.page-links a:hover {
    text-decoration: underline;
    color: #db9cf3;
}

.page-links a.active {
    color: #db9cf3;
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.profile-section {
    text-align: center;
    margin-top: 20px;
}

.profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#name {
    color: #db9cf3;
    text-shadow: 1.5px 1.5px #301934;
    font-family: 'Birthstone', cursive;
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
}

#course {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-top: -8px;
}

.info-box {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dropdown-btn {
    cursor: pointer;
    padding: 5px;
    background: none;
    font-size: 16px;
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown-btn::after {
    content: "▼";
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dropdown-btn:hover {
    color: #db9cf3;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .profile-photo {
        width: 80px;
        height: 80px;
    }

    #name {
        font-size: 20px;
    }

    #course {
        font-size: 14px;
        margin-top: -6px;
    }

    .info-box {
        font-size: 14px;
    }

    .dropdown-btn {
        font-size: 14px;
    }

    .dropdown-btn::after {
        right: 5px;
        font-size: 16px;
    }
}
